<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/axios.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/spinkit.css">
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

</head>
<body>
<div class="full-screen-overlay"></div>
<div class="ffb-buttons-bar">
    <button class="ffb-create-record btn btn-primary">create</button>
    <button class="ffb-refresh-records btn btn-primary">refresh</button>
</div>
<div class="ffb-table">
    <div class="ffb-table-header">
        <div class="ffb-table-th cube-color-column-name">color</div>
        <div class="ffb-table-th cube-production-location-column-name">production location</div>
        <div class="ffb-table-th cube-production-location-column-name">size</div>
        <div class="ffb-table-th cube-action-buttons-column-name">actions</div>
    </div>
    <div class="ffb-table-content"></div>
</div>

<template id="template-record">
    <div class="ffb-table-content-record">
        <div class="ffb-table-td cube-color"></div>
        <div class="ffb-table-td cube-production-location"></div>
        <div class="ffb-table-td cube-size"></div>
        <div class="ffb-table-td cube-action-buttons">
            <button class="fbb-cube-edit-btn btn btn-warning">
                <i class="fa fa-pencil-square-o"></i>
            </button>
            <button class="fbb-cube-delete-btn btn btn-danger">
                <i class="fa fa-trash-o"></i>
            </button>
        </div>
    </div>
</template>

<div class="ffb-edit-record-wrapper">
    <div class="ffb-edit-record-inner-wrapper">
        <div class="ffb-edit-record">
            <div class="ffb-edit-field">
                <input class="ffb-edit-record-color">
            </div>
            <div class="ffb-edit-field ffb-edit-field-location" style="position: relative">
                <div class="ffb-edit-record-location-name"></div>
                <div class="ffb-locations-dropdown-wrapper">
                    <div class="ffb-locations-dropdown"></div>
                </div>
            </div>
            <div class="ffb-edit-field">
                <input type="number" class="ffb-edit-record-size">
            </div>
            <div class="ffb-edit-field ffb-edit-field-actions">
                <button class="ffb-edit-record-save-btn btn btn-warning">
                    <i class="fa fa-save"></i>
                </button>
                <button class="ffb-edit-record-cancel-btn btn btn-secondary">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
